<section class='text-center container'>
    <div class="container">
        <div class="content-section p-0 mt-5">
            <div class="m-3">
                <h2>{{ note.title }}</h2>
                <span>
                  <a hx-get="{% url 'dashboard:update-note' note.pk %}" hx-target="#note-detail" hx-swap="innerHTML"><i class="bi bi-pencil-square"></i></a>
                </span>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{ note.description }}
            </p>
            <hr>
        </div>
    </div>
</section>
