<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard:home' %}">Student Study Portal</a>        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard:home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:profile' %}">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:books' %}">Books</a></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:wikipedia' %}">Wikipedia</a></li>
            <li ><div class="dropdown-divider"></div></li>

            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:dictionary' %}">Dictionary</a></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:youtube' %}">Youtube</a></li>
            <li class="dropdown-item"><div class="dropdown-divider"></div></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:todo' %}">To-do</a></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:homeworks' %}">Homework</a></li>
            <li class="dropdown-item"><div class="dropdown-divider"></div></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:notes' %}">Notes</a></li>
            <li class="dropdown-item"><a class="dropdown-item" href="{% url 'dashboard:conversion' %}">Conversion</a></li>
            <li class="dropdown-item"><div class="dropdown-divider"></div></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
